<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电子车间看板</title>
    <!-- import css -->
    <link rel="stylesheet" href="./css/component.min.css">
    <!-- <link rel="stylesheet" href="http://10.191.6.26:8080/viy/css/component.min.css"> -->
    <!-- import Vue -->
    <script src="./js/vue-all.min.js"></script>
    <!-- import component -->
    <script src="./js/vue-component-all.min.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/dashboardApi.js"></script>
    <script src="./js/dashboard.js"></script>
    <script src="./js/main.js"></script>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div id="root">
        <div id="screen">
            <!-- 头部 -->
            <div class="header">
                <vue-tooltip :content="content" placement="bottom" effect="light">
                    <div class="i-refresh" @click="reload"></div>
                </vue-tooltip>
            </div>
            <div class="content">
                <vue-row :gutter="10">
                    <vue-col class="row" :span="12">
                        <div class="section" id="echarts1" style="width: 100%;height:100%;" ref="echarts1"></div>
                    </vue-col>
                    <vue-col class="row" :span="12">
                        <dashboard-table
                        	v-if="dataLoad"
                            title="截至当日未完成订单明细"
                            :cols ="cols1"
                            :url = "getSfcOrderUnfinishToday"
                            :options = "options1"
                            ref="table1"
                            >
                        </dashboard-table>
                    </vue-col>
                    <vue-col class="row" :span="12">
                        <dashboard-table
                        	v-if="dataLoad"
                            title="当日计划完成"
                            :cols ="cols2"
                            :url = "getSfcFinishToday"
                            :options = "options2"
                            ref="table">
                        </dashboard-table>
                    </vue-col>
                    <vue-col class="row" :span="12">
                        <div class="section" id="echarts2" style="width: 100%;height:100%;" ref="echarts2"></div>
                    </vue-col>
                </vue-row>
            </div>
            <div class="footer"></div>
        </div>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#root',
            data:{
            	dataLoad: false,
                token:'',
                time:'',
            	cols1:[
                    {
                        prop:"机型",
                        label:"机型",
                        align:"center"
                    },{
                        prop:"生产令",
                        label:"生产令",
                        align:"center",
                        width:"80"
                    },{
                        prop:"生产日期",
                        label:"生产日期",
                        align:"center",
                        width:"70"
                    },{
                        prop:"实绩",
                        label:"实绩",
                        align:"center",
                        width:"50"
                    },{
                        prop:"计划",
                        label:"计划",
                        align:"center",
                        width:"50"
                    },{
                        prop:"差缺",
                        label:"差缺",
                        align:"center",
                        width:"50"
                    }
                ],
                options1:{
                    interval: 60000,
                    scrollSpeed: 5000
                },
                cols2:[
                    {
                        prop:"机型",
                        label:"机型",
                        align:"center",
                        width: 120
                    },{
                        prop:"计划",
                        label:"计划",
                        align:"center",
                    },{
                        prop:"实绩",
                        label:"实绩",
                        align:"center",
                    },{
                        prop:"完成率",
                        label:"完成率",
                        align:"center",
                    },
                ],
                options2:{
                    interval: 60000,
                    scrollSpeed: 5000
                },
                option:{
                    title: {
                        text: '生产计划累计完结率',
                        textStyle: {
                            color: '#ffffff',
                            fontFamily: 'sans-serif',
                            fontSize: '0.4rem'
                        },
                        x:'center',
                        y:'top',
                        top: 15
                    },
                    tooltip: {
                        textStyle:{
                            // pc
                            // fontSize: '0.1rem'
                        }
                    },
                    legend: {
                        data:['月计划','月实绩','月完成率'],
                        textStyle:{
                            color: '#ffffff',//字体颜色
                            fontSize: '0.3rem'
                        },
                        bottom: '5%'
                    },
                    xAxis: {
                        data: [],
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#ffffff',
                                fontSize: '0.25rem'
                            }
                        }
                    },
                    yAxis: [
                        {
                            type: 'value',
                            name: '',
                            // min: 0,
                            // max: 250,
                            // interval: 50,
                            axisLabel: {
                                formatter: '{value} K',
                                textStyle: {
                                    color: '#ffffff',
                                    fontSize: '0.25rem'
                                }
                            }
                        },
                        {
                            type: 'value',
                            name: '',
                            min: 0,
                            max: 100,
                            interval: 20,
                            axisLabel: {
                                formatter: '{value} %',
                                textStyle: {
                                    color: '#ffffff',
                                    fontSize: '0.25rem'
                                }
                            },
                            splitLine:{
                                show:false
                            }
                        }
                    ],
                    series: [{
                        name: '月计划',
                        type: 'bar',
                        data: [],
                        label: {
                            show: true,
                            // position: 'top',
                            color:'#ffffff',
                            fontSize: '0.3rem'
                        }
                    },{
                        name: '月实际',
                        type: 'bar',
                        data: [],
                        distance: 500,
                        label: {
                            show: true,
                            // position: 'top',
                            color:'#ffffff',
                            fontSize: '0.3rem'
                        }
                    },{
                        name: '月完成率',
                        type: 'line',
                        yAxisIndex: 1,
                        data: [],
                        label: {
                            show: true,
                            color:'#ffffff',
                            formatter: function(params) {
                                let data = Math.floor(params.data* 100) / 100.
                                data = data.toFixed(2);
                                return data+'%';
                            },
                            fontSize: '0.25rem'
                        }
                    }]
                },
                myChart:{},
                myChart1:{},
                option1:{
                    title: {
                        text: '生产计划成品良率',
                        textStyle: {
                            color: '#ffffff',
                            fontFamily: 'sans-serif',
                            fontSize: '0.4rem'
                        },
                        x:'center',
                        y:'top',
                        top: 15
                    },
                    tooltip: {},
                    legend: {
                        data:['合格数','不合格数','成品良率'],
                        textStyle:{
                            color: '#ffffff',//字体颜色
                            fontSize: '0.3rem'
                        },
                        bottom: '5%'
                    },
                    xAxis: {
                        data: [],
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#ffffff',
                                fontSize: '0.25rem'
                            }
                        }
                    },
                    yAxis: [
                        {
                            type: 'value',
                            name: '',
                            // min: 0,
                            // max: 180,
                            // interval: 30,
                            axisLabel: {
                                formatter: '{value} K',
                                textStyle: {
                                    color: '#ffffff',
                                    fontSize: '0.25rem'
                                }
                            }
                        },
                        {
                            type: 'value',
                            name: '',
                            min: 0,
                            max: 100,
                            interval: 20,
                            axisLabel: {
                                formatter: '{value} %',
                                textStyle: {
                                    color: '#ffffff',
                                    fontSize: '0.25rem'
                                }
                            },
                            splitLine:{
                                show:false
                            }
                        }
                    ],
                    series: [{
                        name: '合格数',
                        type: 'bar',
                        data: [],
                        label: {
                            show: true,
                            // position: 'top',
                            color:'#ffffff',
                            fontSize: '0.3rem'
                        }
                    },{
                        name: '不合格数',
                        type: 'bar',
                        data: [],
                        distance: 500,
                        label: {
                            show: true,
                            // position: 'top',
                            color:'#ffffff',
                            fontSize: '0.3rem'
                        }
                    },{
                        name: '成品良率',
                        type: 'line',
                        yAxisIndex: 1,
                        data: [],
                        label: {
                            show: true,
                            positioin: 'top',
                            color:'#ffffff',
                            formatter: function(params) {
                                let data = Math.floor(params.data* 100) / 100.
                                data = data.toFixed(2);
                                return data+'%';
                            },
                            fontSize: '0.25rem'
                        }
                    }],
                }
            },
            created(){
                let self= this;
                setRem();
                getAccessToken().then(res=>{
                    self.setEcharts1();
                    self.setEcharts2();
                    self.token = localStorage.getItem("currentToken");
                    let date = new Date();
                    self.time = (date.getMonth()+1)+'-'+date.getDate() +' '+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds();
                    self.dataLoad = true;
                });
            },
            mounted(){
                let self = this;
                self.autoFit().then(res=>{
                    // 定时执行
                    self.interval = window.setInterval(()=>{
                        self.setEcharts1();
                        self.setEcharts2();
                        self.token = localStorage.getItem("currentToken");
                        let date = new Date();
                        self.time = (date.getMonth()+1)+'-'+date.getDate() +' '+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds();
                    },60000);                		
                });
                window.onresize = function () {
                    // self.setScale()
                    setRem();
                    // 刷新页面
                    window.location.reload();
                    self.myChart.resize();
                    self.myChart1.resize();
                };
            },
            beforeDestory(){
                window.clearInterval(this.interval);
            },
            computed: {
                getSfcFinishToday(){
                    return BASE_URL + '/analysis/oauth2/getSfcFinishToday';
                },
                getSfcOrderUnfinishToday(){
                    return BASE_URL + '/analysis/oauth2/getSfcOrderUnfinishToday';
                },
                content(){
                    return this.time + ' - ' + this.token;
                }
            },
            methods:{
            	async setEcharts1(){
                    // 基于准备好的dom，初始化echarts实例
                    this.myChart = echarts.init(document.getElementById('echarts1'));
                    this.myChart.setOption(this.option);
                    let data = await getSfcOrderFinishPercent(this);
                    let categories = []
                    let values1 = []
                    let values2 = []
                    let values3 = []
                    data.forEach(item=>{
                        categories.push(item['月份'])
                        values1.push(item['计划数量'])
                        values2.push(item['完成数量'])
                        values3.push(item['完成率'])
                    })
                    this.myChart.setOption({
                        xAxis: {
                            data: categories
                        },
                        series: [{
                            name: '月计划',
                            data: values1,
                        },{
                            name: '月实绩',
                            data: values2
                        },{
                            name: '月完成率',
                            data: values3
                        }]
                    });

                },
                async setEcharts2(){
                    
                    let data = await getSfcOrderScrapPercent(this);
                    // 基于准备好的dom，初始化echarts实例
                    this.myChart1 = echarts.init(document.getElementById('echarts2'));
                    this.myChart1.setOption(this.option1);
                    let categories = []
                    let values1 = []
                    let values2 = []
                    let values3 = []
                    data.forEach(item=>{
                        categories.push(item['月份'])
                        values1.push(item['完成数量'])
                        values2.push(item['不良数量'])
                        values3.push(item['成品良率'])
                    })
                    this.myChart1.setOption({
                        xAxis: {
                            data: categories
                        },
                        series: [{
                            // 根据名字对应到相应的系列
                            name: '合格数',
                            data: values1,
                        },{
                            // 根据名字对应到相应的系列
                            name: '不合格数',
                            data: values2
                        },{
                            // 根据名字对应到相应的系列
                            name: '成品良率',
                            data: values3
                        }]
                    });

                },
                setScale(){
                    let designWidth = 1960;//设计稿的宽度，根据实际项目调整
                    let designHeight = 1080;//设计稿的高度，根据实际项目调整
                    let scale = document.documentElement.clientWidth/document.documentElement.clientHeight < designWidth/designHeight ? 
                        (document.documentElement.clientWidth / designWidth):
                        (document.documentElement.clientHeight / designHeight);
                    document.querySelector('#root').style.transform = `scale(${scale}) translate(-50%)`;
                },
                /**
                 * 大屏大小自适应
                 */
                autoFit(){
                    return new Promise((resolve,reject) => {
                        const clientWidth = document.documentElement.clientWidth
                        const clientHeight = document.documentElement.clientHeight
                        window.pageWidth = clientWidth / clientHeight > 16 / 9 ? clientHeight * (16 / 9) : clientWidth
                        const pageHeight = pageWidth / (16 / 9)
                        const string = `<style>html{
                            font-size: ${pageWidth / 100}px
                            }</style>`
                        document.write(string)
                        const root = document.getElementById('screen');
                        root.style.width = pageWidth + 'px'
                        root.style.height = pageHeight + 'px'
                        // root.style.marginTop = (clientHeight - pageHeight) / 2 + 'px'
                        resolve();
                    })

                },
                reload(){
                    window.location.reload();
                }
            }
        })
    </script>
</body>
</html>